.dock
  margin-top: 16px
  margin-bottom: 2px
  flex-shrink: 0
  button
    margin-left: 8px
  input
   flex: 1

.score
  display: flex
  flex-flow: column nowrap
  margin-bottom: 16px
  overflow-y: auto

.row
  display: flex
  flex-flow: row nowrap
  // border-bottom: 1px solid gray
  padding-top: 8px
  padding-bottom: 4px
  flex-shrink: 0

.col
  padding-left: 8px

.firstcol
  flex: 2
  padding-left: 0

.active
  color: dodgerblue