.score
  display: flex
  flex-flow: column nowrap
  margin-bottom: 16px

.row
  display: flex
  flex-flow: row nowrap
  border-bottom: 1px solid gray
  padding-top: 8px
  padding-bottom: 4px

.col
  padding-left: 8px

.firstcol
  flex: 2
  padding-left: 0

.active
  color: dodgerblue